@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<div>
    <table id=NamePlate>
        <tr>
            <td>
                <h1>Make Belive Activity Center</h1>
            </td>
            <td >
                <h5>Welcome @Model.CurrentUser.UserName</h5>
            </td>
        </tr>
    </table>
    <table id="events" class="table">
        <thead class="thead-dark">
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Cordinator</th>
                <th>Attendees</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var item in Model.AllEvents)
                {
                    <tr>
                        <td>  <a href="event/@item.EventId ">@item.Title</a>  </td>
                        <td>  @item.Date.ToString("M/dd/yyyy") @@ @item.Date.ToString("h:mm tt")</td>
                        <td>  @item.Duration @item.DurationIndicator  </td>
                        <td>  @item.Coordinator.UserName  </td>
                        <td>  @item.Attendees.Count  </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <a asp-action="NewEvent"><button class="center-it">New Event</button></a>
    </div>
</div>